.about__container {
  row-gap: 2rem;
  text-align: justify;
}
.about__containersubtitle {
  row-gap: 2rem;
  text-align: center;
}
.about__text {
  color: #fff;
}
.home__description-color {
  background: linear-gradient(45deg, rgb(8, 127, 163), rgb(115, 152, 50));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--normal-font-size);
  font-weight: bold;
}
.about__subtitle {
  background: linear-gradient(45deg, rgb(8, 127, 163), rgb(115, 152, 50));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: var(--mb-2);
}
.about__img {
  justify-self: center;
}
.about__img img {
  width: 200px;
  border-radius: 0.5rem;
}
.about__back {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: var(--h2-font-size);
  background: linear-gradient(45deg, rgb(8, 127, 163), rgb(115, 152, 50));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: absolute;
  display: flex;
  z-index: 999;
}

@media screen and (min-width: 839px) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img {
    width: 300px;
  }
  .about__back {
    margin-top: 1rem;
    margin-left: 8rem;
    font-size: var(--h2-font-size);
    background: linear-gradient(45deg, rgb(8, 127, 163), rgb(115, 152, 50));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    position: absolute;
    display: flex;
    z-index: 999;
  }
}
