@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    margin-bottom: 5%;
  }
  100% {
    margin-bottom: 0;
  }
}

@keyframes profileMarginTop {
  0% {
    margin-top: 200px;
  }
  100% {
    margin-top: 0;
  }
}

body {
  display: flex;
  flex-direction: column;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

#container-link {
  padding: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto 0;
}

#container-link .profile_links {
  margin-bottom: 32px;

  display: flex;
  border-radius: 50%;
  animation: profileMarginTop 1s;
}

#container-link .profile {
  border-radius: 50%;
  height: 105px;
  width: 105px;

  border: 3px solid rgb(115, 152, 50);
  background: var(--primary);
  transition: border-color 0.5s, box-shadow 0.5s;
}

#container-link .profile:hover {
  box-shadow: 0px 0px 20px 0px rgb(115, 152, 50);
}

#container-link .links-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-link .links-container .description {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  15% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  30% { transform: rotate(-8.0deg) }
  40% { transform: rotate(14.0deg) }
  50% { transform: rotate(-4.0deg) }
  60% { transform: rotate(10.0deg) }
  70% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
 100% { transform: rotate( 0.0deg) }
}

.links {
  animation: slideIn 0.8s;

  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #ebebeb;

  height: 56px;
  max-width: 350px;
  width: 100%;

  background: #1b1b1b;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: max-width 200ms, background 0.5s, transform 180ms ease-in-out;
}

.links:hover {
  transform: translateY(-3px);
  max-width: 380px;
  background: linear-gradient(45deg, rgb(8, 127, 163), rgb(115, 152, 50));
}

.link-github {
  color: #ffffff;
  background-color: #24292e;
}
.link-github:hover {
  transform: translateY(-3px);
  max-width: 380px;
  background: linear-gradient(
    90deg,
    rgba(36, 41, 46, 1) 0%,
    rgb(81, 90, 100) 100%
  );
}

.link-linkedin {
  color: #ffffff;
  background-color: #0a66c2;
}
.link-linkedin:hover {
  transform: translateY(-3px);
  max-width: 380px;
  background: linear-gradient(90deg, #0a66c2 0%, #1a91da 100%);
}

.link-twitter {
  color: #ffffff;
  background-color: #00aced;
}
.link-twitter:hover {
  transform: translateY(-3px);
  max-width: 380px;
  background: linear-gradient(90deg, #0084b4 0%, #1dcaff 100%);
}

.link-instagram {
  color: #ffffff;
  background-color: #b900b4;
}
.link-instagram:hover {
  transform: translateY(-3px);
  max-width: 380px;
  background: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}

.link-twitch {
  color: #ffffff;
  background-color: #9147fe;
}
.link-twitch:hover {
  transform: translateY(-3px);
  max-width: 380px;
  background: linear-gradient(90deg, #451094 0%, #9147ff 100%);
}

.link-live-on {
  color: #ffffff;
  background-color: transparent;
  /* border-radius: 1px; */
  border: 1px solid #f50000;
}
.link-live-on:hover {
  transform: translateY(-3px);
  max-width: 380px;
  background: linear-gradient(90deg, #d70a08 0%, #fd0b09 100%);
}


.link-discord {
  color: #ffffff;
  background-color: #7289da;
}
.link-discord:hover {
  transform: translateY(-3px);
  max-width: 380px;
  background: linear-gradient(90deg, #7289da 0%, #99aab5 100%);
}

.link-gmail {
  color: #ffffff;
  background-color: #ea4335;
}
.link-gmail:hover {
  transform: translateY(-3px);
  max-width: 380px;
  background: linear-gradient(90deg, #be1d1c 0%, #ea3a31 100%);
}

.links + .links {
  margin-top: 24px;
}

.logo {
  margin-right: 20px;
}

#container-link footer {
  font-size: 20px;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

#container-link footer p {
  margin-top: 8px;
  font-size: 16px;
}

#container-link footer a {
  text-decoration: none;
  color: #ebebeb;
  transition: color 0.3s;
}

#container-link footer a:hover {
  color: rgb(115, 152, 50);
}
