.filters {
  list-style: none;
  padding: 0;
  margin: 2em 0;
  text-align: center;
}

.filters a {
  display: inline-block;
  margin: 0.6em 0.4em;
}

.filters a {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.1em;
  padding: 7px 12px;
}

.filters a:hover {
  background: linear-gradient(45deg, rgb(8, 127, 163), rgb(115, 152, 50));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.filters a:focus {
  background: linear-gradient(45deg, rgb(8, 127, 163), rgb(115, 152, 50));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: flex-start;
}

.legeng-text {
  color: #ebebeb;
  font-size: 12px;
  font-weight: normal;
  margin-top: -0.75rem;
}

.work-container {
  row-gap: 2rem;
}
.work-img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
.work-img img {
  transition: 1s;
  cursor: default;
}
.work-img img:hover {
  transform: scale(1.1);
}
.work-text {
  background: linear-gradient(45deg, rgb(8, 127, 163), rgb(115, 152, 50));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;
}
.work-description-links {
  flex-direction: row;
  display: flex;
}
.space {
  margin-left: 6px;
  margin-right: 6px;
}
.work-description {
  margin-top: -15px;
  margin-left: 4px;
  margin-bottom: 23px;
  color: #ebebeb;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.tag-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.projects-tag {
  padding: 2px 5px;
  background-color: rgb(32, 32, 36);
  font-size: 11px;
  border-radius: 30px;
  font-weight: normal;
  margin-left: 5px;
}

.projects-tagnull {
  background-color: #0c0c0c;
}

@media screen and (min-width: 839px) {
  .work-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
