:root {
  --header-height: 3rem;
  --font-semi: 600;
}
// Cores
:root {
  --first-color: rgb(115, 152, 50);
  --second-color: #0e2431;
}

$bg-dark-mode: #ebebeb;
$grey-dark-mode: rgba(66, 66, 66, 0.712);
$white-text: #fff;
$primary:rgb(0, 132, 255);

// Fonts
:root {
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 839px) {
  // Fonts
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

// Margins
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

// Z-index
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0.25rem 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: #0C0C0C;
}
body.light-mode {
  background-color: #ebebeb;
  color: #0C0C0C;

  span, h1 {
    color: #0C0C0C;
  }

  .link {
    background-color: #8b8b8b;
    // color: #0C0C0C;
  }
  .about-text {
    color: #0C0C0C;
  }

  .legeng-text {
    color: #0C0C0C;
  }

  .filters a{
    color: #0C0C0C;
  }

  .work-description {
    color: #0C0C0C;
  }

  .projects-tag {
    background-color: #8b8b8b;
  }
  .fadeIn {
    animation: fadeIn 1s ease-in-out;
    background-color: #ebebeb;
  }
  #container-link .links-container .description {
    color: #0C0C0C;
  }

  .container-principal {
    background-color: #8b8b8b;
  }

  .container-button {
    background-color: #8b8b8b;
  }

  .font-title {
    color: #0C0C0C;
  }

  .link-popup {
    background-color: #8b8b8b;
  }
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  transition: color 0.3s;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Scrool */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b1b1b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b0b0b
  ;
}

.MuiTimeline-root{
  margin-top: -15px;
}
