@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    margin-bottom: 5%;
  }
  100% {
    margin-bottom: 0;
  }
}

@keyframes profileMarginTop {
  0% {
    margin-top: 200px;
  }
  100% {
    margin-top: 0;
  }
}

body {
  display: flex;
  flex-direction: column;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

#container_link {
  padding: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto 0;
}

#container_link .profile_links {
  margin-bottom: 32px;

  display: flex;
  border-radius: 50%;
  animation: profileMarginTop 1s;
}

#container_link .profile {
  border-radius: 50%;
  height: 175px;
  width: 175px;

  border: 3px solid rgba(119, 118, 255, 1);
  background: var(--primary);
  transition: border-color 0.5s, box-shadow 0.5s;
}

#container_link .profile:hover {
  box-shadow: 0px 0px 20px 0px rgba(174, 44, 241, 1);
}

#container_link .links-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#container_link .links-container .description {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.links {
  animation: slideIn 0.8s;

  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #ebebeb;

  height: 56px;
  max-width: 350px;
  width: 100%;

  background: #1b1b1b;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: max-width 200ms, background 0.5s, transform 180ms ease-in-out;
}

.links:hover {
  transform: translateY(-3px);
  max-width: 380px;
  background: linear-gradient(
    90deg,
    rgba(119, 118, 255, 1) 0%,
    rgba(174, 44, 241, 1) 100%
  );
}

.links + .links {
  margin-top: 24px;
}

.logo {
  margin-right: 20px;
}

#container_link footer {
  font-size: 20px;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

#container_link footer p {
  margin-top: 8px;
  font-size: 16px;
}

#container_link footer a {
  text-decoration: none;
  color: #ebebeb;
  transition: color 0.3s;
}

#container_link footer a:hover {
  color: #ab89fa;
}
